/* Navbar Styles */
.navbar {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid var(--grey-200);
}

.navbar-brand-name {
  color: var(--primary-red);
}

.navbar-brand-tagline {
  color: var(--text-secondary);
}

.navbar-link {
  color: var(--text-primary);
}

.navbar-link:hover {
  background-color: var(--bg-light-red);
  color: var(--primary-red);
}

.navbar-cta {
  background-color: var(--primary-red);
  color: white;
}

.navbar-cta:hover {
  background-color: var(--primary-red-dark);
}

.navbar-mobile-menu {
  background-color: white;
  border-top: 1px solid var(--grey-200);
}

.navbar-mobile-button {
  color: var(--text-secondary);
}

.navbar-mobile-button:hover {
  background-color: var(--bg-light-red);
}
